{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

{% if validlink %}

<p>{% trans "请输入您的新密码." %}</p>

<form method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans '新密码：' %}</label>{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans '确认新密码:' %}</label>{{ form.new_password2 }}</p>
<p><input type="submit" value="{% trans '确认重置' %}" /></p>
</form>

{% else %}

<p>{% trans "密码重置链接无效，可能是因为它已经被使用了。请重新请求重置链接。" %}</p>

{% endif %}

{% endblock %}
